@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --base: #99A3FF;
    --primary: #301E03;
    --secondary: #996B97;
}
html, body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: var(--base);
    font-family: 'Inter', sans-serif;
}
body, a {
    color: var(--primary);
}
body {
    padding-top: 80px;
}

header, main {
    margin: 40px auto;
    max-width: 768px;
}

header a:hover {
    display: inline-block;
    background: var(--secondary);
}
header a {
    font-size: 12px;
    font-style: italic;
    margin-right: 40px;
}
h1 {
    font-weight: normal;
}

main {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}
main a {
    flex-basis: calc(50% - 20px);
    text-decoration: none;

}
main a img {
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
}
main a h2 {
    text-decoration: underline;
    font-size: 18px;
}
main a p {
    font-size: 14px;
}
main a p.excerpt {
    font-style: italic;
}
@media screen and (max-width: 768px) {
    body {
        margin: 30px;
        padding-top: 40px;
}
    main {
        flex-direction: column;
        padding-bottom: 80px;

    }
}